doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name='google-signin-client_id', content='1079543572328-14oa49grtsiinh772fusi24ldhonnap6.apps.googleusercontent.com')
    title Document
    <link rel="stylesheet" href="/stylesheets/style.css">  
    <script src="https://cdn.tailwindcss.com"></script>
    
    <script src="https://apis.google.com/js/platform.js" async defer></script>  
    //-  ^^Google Sign-In script in your HTML file
