//- 1:52




include ./partials/header.jade

div.w-full.min-h-screen.bg-zinc-800.text-white
  h1.text-xl Create a new post
  hr.opacity-10.mt-3
  form(action="/createpost" method="post" enctype="multipart/form-data")
    input.block.w-50.px-3.py-2(type="file" name="postimage")
    input.block.w-80.px-3.py-2.border-2.mt-2.rounded-md(type="text" name="title" placeholder="Title" style="color: black;")
    textarea.block.w-80.px-3.py-2.border-2.mt-2.rounded-md(name="description" placeholder="Description" style="color: black;")
    input.block.w-80.px-3.py-2.border-2.mt-2.bg-red-700.rounded-md.text-white(type="submit" value="Create Post")

include ./partials/footer.jade

//- include ./partials/footer.jade






//- include ./partials/header.jade
//- div.w-full.min-h-screen.bg-zinc-800.text-white
//-   h1.text-xl Create a new post
//-   hr.opacity-10.mt-3
//-   form(action="/createpost" method="post" enctype="multipart/form-data")
//-     input.block.w-50.px-3.py-2(type="file" name="postimage")
//-     input.block.w-80.px-3.py-2.border-2.mt-2.rounded-md(type="text" placeholder="Title" style="color: black;")
//-     textarea.block.w-80.px-3.py-2.border-2.mt-2.rounded-md(name="" placeholder="Description" style="color: black;")
//-     input.block.w-80.px-3.py-2.border-2.mt-2.bg-red-700.rounded-md.text-white(type="submit" value="Create Post")
//- include ./partials/footer.jade






//- include ./partials/header.jade
//- div.w-full.min-h-screen.bg-zinc-800.text-white
//-   h1.text-xl Create a new post
//-   hr.opacity-10.mt-3
//-   form(action="/createpost" method="post" enctype="multipart/form-data")
//-     input.block.w-50.px-3.py-2(type="file")
//-     input.block.w-80.px-3.py-2.border-2.mt-2.rounded-md(type="text" placeholder="Title" style="color: black;")
//-     textarea.block.w-80.px-3.py-2.border-2.mt-2.rounded-md(name="" placeholder="Description" style="color: black;")
//-     input.block.w-80.px-3.py-2.border-2.mt-2.bg-red-700.rounded-md.text-white(type="Submit" vlaue="Create Post")
//- include ./partials/footer.jade




//- include ./partials/header.pug

//- div.w-full.min-h-screen.bg-zinc-800.px-10.py-5.text-white
//-   h1.text-xl Create a new post
//-   hr.opacity-10.mt-3
//-   form(action="")
//-     input.block.w-23.px-3.py-2(type="file")
//-     input.block.w-23.px-3.py-2.border-2.rounded-md(type="text" placeholder="Title")
//-     textarea.block.w-23.px-3.py-2.border-2.rounded-md(type="text" placeholder="Description")
//-     input.block.w-23.px-3.py-2.border-2.rounded-md(type="submit" value="Create Post")

//- include ./partials/footer.pug





//- <%include ./partials/header.ejs%>
//-   <div class="w-full min-h-screen bg-zinc-800 px-10 py-5 text-white">
//-   <h1 class= "text-xl">Create a new post<h1>
//-   <hr class="opacity-10 mt-3">
//-   <form action="">
//-   <input class="block w-23 px-3 py-2" type="file">
//-   <input class="block w-23 px-3 py-2 border-2 rounded-md" type="text" placeholder="Title">
//-   <textarea class="block w-23 px-3 py-2 border-2 rounded-md" type="text" placeholder="Description"></textarea>
//-   <input class="block w-23 px-3 py-2 border-2 rounded-md" type="submit" vlaue="Create Post"> 

//-   </form>
//-   </div>
//- <%include ./partials/header.ejs%>